/* rem and em do not depent html font size in media quaries. 
Instead, 1rem = 1em =16px*/

/* BELOW 1360px(for smaller desktop screen size */

/* RESPONSIVE SECTION */
@media (max-width: 85em) {
  .eko-hot {
    font-size: 1.5rem;
  }
  .logo {
    width: 9rem;
    margin-top: 1rem;
  }

  .nav {
    font-size: 3rem;
    margin-top: 1rem;
  }
  .carousel img {
    grid-template-columns: 1fr 1fr 1fr;
    width: 38rem;
    height: 30rem;
  }

  .section-class {
    /* max-width: 120rem; */
    background-color: #000;
  }
  .h2 {
    font-size: 1.7rem;
    margin-top: -1rem;
  }

  .h3 {
    font-size: 1.3rem;
  }
  .container-paragraph {
    font-size: 1.4rem;
    margin-top: -1rem;
  }
  .text {
    width: 45rem;
    height: 31rem;
    margin-left: 5rem;
  }
  .btnhome--big {
    font-size: 1rem;
    margin-top: -4rem;
  }

  .photo---play {
    margin-left: 8rem;
    max-width: 50rem;
    height: 31rem;
  }
  .free {
    height: 5rem;
  }
  .free-mixtapes,
  .free-mixtapes1 {
    font-size: 2rem;
    padding-top: 0.4rem;
  }

  .frees-icons {
    height: 2rem;
    width: 2rem;
    padding-top: 1rem;
  }
  .ekos-play {
    height: 25rem;
  }

  .displays-grids {
    background-color: #000;
    /* margin-left: 6rem; */
  }

  .taking-it-home-img,
  .coming-soon-img {
    height: 30rem;
  }
  .ekothebeat {
    height: 60rem;
  }
  .list {
    height: 55rem;
  }
  .subheading {
    font-size: 3rem;
    padding-bottom: 4rem;
  }

  .heading-secondary {
    font-size: 2rem;
    margin-top: 1rem;
  }

  .heading---tertiaries {
    font-size: 2rem;
  }

  .eko-tags {
    margin-left: 5.5rem;
    margin-top: 1rem;
  }
  .tag--eko {
    margin-right: 7rem;
    margin-left: -5rem;
  }

  .album-title {
    margin-left: 6rem;
    font-size: 2rem;
    margin-top: 2rem;
  }
  .album-titlez {
    margin-left: 6rem;
    font-size: 2rem;
    margin-top: 2rem;
  }

  .list-item {
    font-size: 2rem;
    gap: 2rem;
    margin-top: 2rem;
  }

  .grid--3-cols {
    margin-left: 1rem;
  }
  .photo----play {
    margin-left: 8rem;
    max-width: 50rem;
    height: 33rem;
  }
  .texts {
    width: 45rem;
    height: 33rem;
    margin-left: 5rem;
  }

  .buttoneko:link,
  .buttoneko:visited {
    font-size: 1rem;
    margin-top: -1rem;
  }
  .form-text {
    box-shadow: none;
    margin-top: -17rem;
  }
  .form-paragraph {
    font-size: 2.5rem;
    margin-top: 29.4rem;
    height: 31.2rem;
  }
  .subscribe {
    width: 64rem;
    background-color: #fff;
    font-size: 2rem;
    padding: 1rem;
  }

  .footer-text {
    font-size: 2rem;
  }

  .ekothebeat {
    grid-template-columns: repeat(3, 1fr);
    max-width: 100%;
  }
}
/* BELOW 1024px(for smaller desktop screen size */

/* RESPONSIVE SECTION */
@media (max-width: 80em) {
  .ekothebeat {
    height: 55rem;
  }
  .eko-tags {
    margin-left: 9rem;
    margin-top: 1rem;
  }

  .list {
    height: 49.5rem;
  }
  .tag--eko {
    margin-right: 8rem;
    margin-left: -8rem;
  }
  .album-titlez {
    /* margin-left: 1rem; */
    font-size: 2rem;
    margin-top: 2rem;
  }
  .album-title {
    /* margin-left: 2rem; */
    font-size: 2rem;
    margin-top: 2rem;
  }
}
/* BELOW 1237px(for smaller desktop screen size */

/* RESPONSIVE SECTION */
@media (max-width: 78em) {
  .headerbutton--big {
    margin-left: 30rem;
  }
  .subscribe {
    width: 57rem;
  }
}
/* BELOW 1200px(for smaller desktop screen size */

/* RESPONSIVE SECTION */
@media (max-width: 75em) {
  .head-nav {
  }
  .wrapper {
    max-width: 110rem;
    position: relative;
  }
  .photo---play {
    margin-left: 4rem;
    max-width: 50rem;
    height: 30rem;
  }
  .displays-grids {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .footer-text {
    font-size: 1.7rem;
  }
}

/* BELOW 1173px(for smaller desktop screen size */

/* RESPONSIVE SECTION */
@media (max-width: 74em) {
  .headerbutton--big {
    margin-left: 25rem;
  }
  .subscribe {
    width: 54rem;
  }
  .heading---tertiaries {
    font-size: 1.9rem;
  }
  .list {
    height: 47rem;
  }
  .eko-tags {
    margin-left: 7rem;
    margin-top: 1rem;
  }
  .album-titlez,
  .album-title {
    margin-left: 2rem;
    font-size: 2rem;
    margin-top: 2rem;
  }
}

/* BELOW 1135px(for smaller desktop screen size */

/* RESPONSIVE SECTION */
@media (max-width: 71em) {
  .head-nav {
  }
  .wrapper {
    max-width: 95rem;
  }
  .carousel img {
    margin-left: 2rem;
    width: 50rem;
  }
  .photo---play {
    margin-left: 1rem;
  }
  .ekos-play {
    height: 30rem;
  }

  .photo----play {
    margin-left: 1rem;
  }
}

/* BELOW 1173px(for smaller desktop screen size */

/* RESPONSIVE SECTION */
@media (max-width: 67em) {
  .headerbutton--big {
    margin-left: 15rem;
  }
  .subscribe {
    width: 48rem;
  }
  .heading---tertiaries {
    font-size: 1.5rem;
  }
  .list {
    height: 50rem;
  }
  .eko-tags {
    margin-left: 7rem;
    margin-top: 1rem;
  }
  .album-titlez,
  .album-title {
    margin-left: 2rem;
    font-size: 2rem;
    margin-top: 2rem;
  }
}
/* BELOW 1042px(for smaller desktop screen size */

/* RESPONSIVE SECTION */
@media (max-width: 69em) {
  .head-nav {
  }
  .wrapper {
    max-width: 95rem;
  }
  .text {
    width: 45rem;
    height: 30rem;
    margin-left: 1rem;
  }
  .photo---play {
    margin-left: -0.4rem;
  }
  .texts {
    margin-left: 1rem;
  }
  .photo----play {
    margin-left: -0.4rem;
  }
}
/* BELOW 1024px(for smaller desktop screen size */

/* RESPONSIVE SECTION */
@media (max-width: 66em) {
  .form-paragraph {
    font-size: 2.3rem;
    margin-top: 29.4rem;
    height: 31.2rem;
  }
}

/* BELOW 999px(for smaller desktop screen size */

/* RESPONSIVE SECTION */
@media (max-width: 63em) {
  .headerbutton--big {
    margin-left: 10rem;
  }
  .subscribe {
    width: 45rem;
  }
  .wrapper {
    max-width: 90rem;
  }
  .grid--3-cols {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .eko-tags {
    margin-left: 4rem;
    margin-top: 1rem;
  }
  .tag--eko {
    margin-right: 8rem;
    margin-left: -3rem;
  }
  .album-title {
    margin-left: 6rem;
    font-size: 3rem;
    margin-top: 2rem;
  }
  .album-titlez {
    margin-left: 4rem;
    font-size: 3rem;
    margin-top: 2rem;
  }
  .heading---tertiaries {
    font-size: 2.2rem;
  }
  .form-paragraph {
    font-size: 2.2rem;
    margin-top: 29.4rem;
    height: 31.2rem;
  }
  .text {
    width: 45rem;
    height: 30rem;
    margin-left: -1rem;
  }
  .photo---play {
    margin-left: -1rem;
  }
  .texts {
    font-size: 1.5rem;
    margin-left: -1rem;
  }
  .photo----play {
    margin-left: -1rem;
  }
  .buttoneko:link,
  .buttoneko:visited {
    font-size: 1.5rem;
    margin-top: -1rem;
  }
  .displays-grids {
    margin-left: 3rem;
  }
}
/* BELOW 980px(for smaller desktop screen size */

/* RESPONSIVE SECTION */
@media (max-width: 62em) {
  .head-nav {
  }
  .wrapper {
    max-width: 90rem;
  }
  .text {
    width: 45rem;
    height: 30rem;
    margin-left: -1rem;
  }
  .photo---play {
    margin-left: -1.8rem;
  }
  .texts {
    margin-left: -1rem;
  }
  .photo----play {
    margin-left: -1.8rem;
  }
  .displays-grids {
    margin-left: 3rem;
  }
}
/* BELOW 958px(for smaller desktop screen size */

/* RESPONSIVE SECTION */
@media (max-width: 61em) {
  .head-nav {
    /* background-color: #1b4353; */
  }
  .wrapper {
    max-width: 90rem;
  }
  .display--grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-left: -1rem;
    background-color: #1b4353;
    padding-bottom: 3rem;
  }
  .text {
    width: 45rem;
    height: 30rem;
    margin-left: 23rem;
  }
  .photo---play {
    margin-left: 20rem;
  }
  .texts {
    margin-left: 23rem;
  }
  .photo----play {
    margin-left: 20rem;
  }
  .displays-grids {
    margin-left: 3rem;
  }
  .form-paragraph {
    font-size: 2.2rem;
  }
  .footer-text {
    font-size: 0.8rem;
  }
  .buttonz--big {
    font-size: 1.4rem;
  }
}

/* BELOW 953px(for smaller desktop screen size */

/* RESPONSIVE SECTION */
@media (max-width: 60em) {
  .headerbutton--big {
    margin-left: 5rem;
  }
  .subscribe {
    width: 43rem;
  }
  .footer-text {
    font-size: 1.5rem;
  }
  .form-paragraph {
    font-size: 2.1rem;
  }
}
/* BELOW 912px(for smaller desktop screen size */

/* RESPONSIVE SECTION */
@media (max-width: 57em) {
  .headerbutton--big {
    margin-left: 6rem;
  }
  .wrapper {
    max-width: 80rem;
  }
  .carousel img {
    margin-left: 2rem;
    width: 40rem;
  }

  .subscribe {
    width: 40rem;
  }
  .btn2 {
    top: 2rem;
    right: 1rem;
  }
  .eko-hot {
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
  .text {
    width: 45rem;
    height: 31rem;
    margin-left: 23rem;
  }
}
/* BELOW 893px(for smaller desktop screen size */

/* RESPONSIVE SECTION */
@media (max-width: 56em) {
  .headerbutton--big {
    margin-left: 30rem;
    font-size: 1.5rem;
  }
  .wrapper {
    max-width: 80rem;
  }
  .carousel img {
    grid-template-columns: 1fr;
    width: 42rem;
    height: 30rem;
  }
  .ekothebeat {
    height: 48rem;
  }
  .eko-tags {
    margin-left: 1.5rem;
    margin-top: 1rem;
  }
  .tag--eko {
    margin-right: 8rem;
    margin-left: -3rem;
    font-size: 2rem;
  }
  .album-title,
  .album-titlez {
    margin-left: 5rem;
    font-size: 2.5rem;
    margin-top: 2rem;
  }
  .buttonz--big,
  .buttonhomes--big {
    font-size: 1.5rem;
  }
  .grid--3-cols {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .taking-it-home-img,
  .coming-soon-img {
    height: 20rem;
  }
  .list {
    height: 45rem;
  }
  .album-section {
    display: grid;
    justify-content: center;
    align-content: center;
  }
  .album-section .grid--3-cols,
  .play-list:last-child {
    justify-self: center;
  }

  .text {
    width: 45rem;
    height: 30rem;
    margin-left: 23rem;
  }
  .photo---play {
    margin-left: 20rem;
  }
  .texts {
    margin-left: 23rem;
  }
  .photo----play {
    margin-left: 20rem;
  }
  .displays-grids {
    margin-left: 3rem;
  }
  .form-paragraph {
    font-size: 2.2rem;
  }
  .buttonz--big {
    font-size: 1.4rem;
  }
}

/* BELOW 875px(for smaller desktop screen size */

/* RESPONSIVE SECTION */
@media (max-width: 55em) {
  .headerbutton--big {
    margin-left: 2rem;
  }
  .wrapper {
    max-width: 80rem;
  }
  .carousel img {
    margin-left: 2rem;
    width: 40rem;
  }
  .headerbutton--big {
    margin-left: 30rem;
  }
  .heading---tertiaries {
    font-size: 2.1rem;
  }
  .subscribe {
    width: 39rem;
  }
  .text {
    width: 45rem;
    height: 31rem;
    margin-left: 23rem;
  }
  .form-paragraph {
    font-size: 2.1rem;
  }
}

/* BELOW 830px(for smaller desktop screen size */

/* RESPONSIVE SECTION */
@media (max-width: 52em) {
  .eko-hot {
    font-size: 1.5rem;
    margin-left: -1rem;
  }
  .headerbutton--big {
    margin-left: 1rem;
    font-size: 1.2rem;
  }
  .btn2 {
    top: 2rem;
    right: -1rem;
  }
  .wrapper {
    max-width: 77rem;
  }
  .carousel img {
    grid-template-columns: 1fr;
    width: 40rem;
  }
  .display--grid {
    margin-left: -5rem;
  }
  .eko-tags {
    margin-left: 1.5rem;
    margin-top: 1rem;
  }
  .tag--eko {
    margin-right: 12rem;
    margin-left: -3rem;
    font-size: 1.6rem;
  }
  .album-title,
  .album-titlez {
    margin-left: 5rem;
    font-size: 2.5rem;
    margin-top: 2rem;
  }
  .buttonz--big,
  .buttonhomes--big {
    font-size: 1.5rem;
  }
  .grid--3-cols {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .taking-it-home-img,
  .coming-soon-img {
    height: 20rem;
  }
  .list {
    height: 45rem;
  }
  .album-section {
    display: grid;
    justify-content: center;
    align-content: center;
  }
  .album-section .grid--3-cols,
  .play-list:last-child {
    justify-self: center;
  }

  .text {
    width: 45rem;
    height: 30rem;
    margin-left: 23rem;
  }
  .photo---play {
    margin-left: 20rem;
  }
  .texts {
    margin-left: 23rem;
  }
  .photo----play {
    margin-left: 20rem;
  }
  .displays-grids {
    margin-left: 3rem;
  }
  .form-paragraph {
    height: 34rem;
    font-size: 2rem;
  }
  .buttonz--big {
    font-size: 1.4rem;
  }
}
/* BELOW 806px(for smaller desktop screen size */

/* RESPONSIVE SECTION */
@media (max-width: 51em) {
  .wrapper {
    max-width: 70rem;
  }
  .carousel img {
    grid-template-columns: 1fr;
    width: 35rem;
    height: 30rem;
  }
  .display--grid {
    margin-left: -6rem;
  }
  .tag--eko {
    margin-right: 6rem;
    margin-left: -3rem;
    font-size: 1.6rem;
  }
  .album-title,
  .album-titlez {
    margin-left: 1rem;
    font-size: 2.5rem;
    margin-top: 2rem;
  }
}

/* BELOW 806px(for smaller desktop screen size */

/* RESPONSIVE SECTION */
@media (max-width: 48em) {
  .eko-hot {
    font-size: 1.6rem;
  }
  .btn2 {
    top: -0.1rem;
    right: 1rem;
  }
  .headerbutton--big {
    margin-left: 30rem;
    font-size: 1.2rem;
  }
  .wrapper {
    max-width: 70rem;
  }
  .carousel img {
    grid-template-columns: 1fr;
    width: 35rem;
    height: 30rem;
  }
  .form-paragraph {
    font-size: 1.8rem;
  }
  .heading---tertiaries {
    font-size: 1.8rem;
  }
}
/* BELOW 752px(for smaller desktop screen size */

/* RESPONSIVE SECTION */
@media (max-width: 47em) {
  .btn2 {
    top: 4rem;
    right: 3rem;
  }
  .wrapper {
    max-width: 65rem;
  }
  .carousel img {
    grid-template-columns: 1fr;
    width: 33rem;
    height: 30rem;
  }
  .subscribe {
    width: 33rem;
  }
  .photo---play {
    margin-left: 19rem;
  }
  .text {
    width: 45rem;
    height: 30rem;
    margin-left: 21rem;
  }
  .photo----play {
    margin-left: 19rem;
  }
  .texts {
    margin-left: 21rem;
  }
  .form-paragraph {
    font-size: 1.7rem;
  }
  .display--grid {
    margin-left: -6rem;
  }
  .tag--eko {
    margin-right: 6rem;
    margin-left: -3rem;
    font-size: 1.6rem;
  }
}

/* BELOW 695px(for smaller desktop screen size */

/* RESPONSIVE SECTION */
@media (max-width: 44em) {
  .logo {
    margin-left: 1rem;
  }
  .wrapper {
    max-width: 65rem;
  }

  .display--grid {
    margin-left: -9rem;
  }
  .form-paragraph {
    font-size: 1.8rem;
  }
  .heading---tertiaries {
    font-size: 1.4rem;
  }
  .tag--eko {
    margin-right: 4rem;
    margin-left: -3rem;
    font-size: 1.6rem;
  }
  .album-title {
    margin-left: 2rem;
    font-size: 1.7rem;
    margin-top: 2rem;
  }
  .album-titlez {
    margin-left: 2rem;
    font-size: 2rem;
    margin-top: 2rem;
  }
  #waveform {
    width: 30rem;
  }
  .volume-control {
    margin-left: 1rem;
  }
  .preview-text {
    position: absolute;
    bottom: 0.5rem;
    left: 30%;
    font-size: 1rem;
  }
}
/* BELOW 683px(for smaller desktop screen size */

/* RESPONSIVE SECTION */
@media (max-width: 43em) {
  .btn2 {
    top: 2rem;
  }
  .logo {
    margin-left: 1.3rem;
  }
  .wrapper {
    max-width: 62rem;
  }
  .ekos-play {
    height: 25rem;
  }
  .buttonz--big {
    font-size: 1.3rem;
  }
  .list-item {
    font-size: 1.5rem;
  }
  .display--grid {
    margin-left: -9rem;
  }
  .form-paragraph {
    font-size: 1.8rem;
  }
}

/* BELOW 658px(for smaller desktop screen size */

/* RESPONSIVE SECTION */
@media (max-width: 42em) {
  .subscribe {
    width: 28.8rem;
  }
  .form-paragraph {
    font-size: 1.7rem;
  }
  .buttonhomes:link,
  .buttonhomes:visited,
  .buttonz:link,
  .buttonz:visited {
    width: 20rem;
    margin-left: -2.5rem;
  }
  .tag--eko {
    margin-right: 6rem;
    margin-left: -5rem;
    font-size: 1.6rem;
  }
  .album-titlez {
    margin-left: -1rem;
    font-size: 2rem;
    margin-top: 2rem;
  }
}

/* BELOW 652px(for smaller desktop screen size */

/* RESPONSIVE SECTION */
@media (max-width: 41em) {
  .btn2 {
    top: 4rem;
  }
  .logo {
    margin-left: 1.3rem;
  }
  .wrapper {
    max-width: 61rem;
  }
  .grid--3-cols {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .eko-tags {
    margin-left: 6rem;
    margin-top: 1rem;
  }
  .tag--eko {
    margin-right: 6rem;
    margin-left: -1rem;
    font-size: 1.8rem;
  }
  .album-title {
    margin-left: 12rem;
    font-size: 2rem;
    margin-top: 2rem;
  }
  .album-titlez {
    font-size: 2rem;
    margin-top: 2rem;
    margin-left: 10rem;
  }
  .buttonhomes:link,
  .buttonhomes:visited,
  .buttonz:link,
  .buttonz:visited {
    width: 20rem;
    margin-left: 8rem;
    font-size: 1.6rem;
  }
  .list-item {
    font-size: 1.8rem;
  }
  .list {
    height: 45rem;
    width: 50rem;
  }
  .heading---tertiaries {
    font-size: 2rem;
  }
  .h2 {
    padding-left: 1rem;
    padding-top: 1rem;
  }
  .h3 {
    padding-left: 1rem;
    font-size: 1.6rem;
  }
  .text {
    width: 45rem;
    height: 32rem;
  }

  .texts {
    height: 36rem;
    margin-left: 21rem;
  }
  .container-paragraph {
    font-size: 1.4rem;
    margin-top: -1rem;
    padding-left: 1rem;
  }
  .display--grid {
    margin-left: -12rem;
  }
  .subscribe {
    width: 28rem;
    font-size: 1.5rem;
  }
  .form-paragraph {
    font-size: 1.6rem;
  }
}
/* BELOW 576px(for smaller desktop screen size */

/* RESPONSIVE SECTION */
@media (max-width: 36em) {
  .head-nav {
    /* background-color: #112477; */
  }
  .logo {
    margin-left: 1.3rem;
  }
  .wrapper {
    max-width: 57rem;
  }
  .carousel img {
    grid-template-columns: 1fr;
    width: 26rem;
    height: 29rem;
  }
  .tag--eko {
    margin-right: 3rem;
    margin-left: -4rem;
    font-size: 1.6rem;
  }
  .album-title {
    margin-left: 2rem;
    font-size: 1.5rem;
    margin-top: 2rem;
  }
  .album-titlez {
    margin-left: 2rem;
    font-size: 1.5rem;
    margin-top: 2rem;
  }
  .buttonhomes--big {
    font-size: 1.1rem;
  }

  .list-item {
    font-size: 1.8rem;
  }

  .buttonhomes--big {
    font-size: 1.1rem;
  }
  .buttonz--big {
    font-size: 0.8rem;
  }
  .display--grid {
    margin-left: -14rem;
  }
  .form-paragraph {
    font-size: 1.6rem;
  }
  .subscribe {
    font-size: 1.5rem;
  }
  .list-item {
    font-size: 1.5rem;
  }
}

/* BELOW 596px(for smaller desktop screen size */

/* RESPONSIVE SECTION */
@media (max-width: 38em) {
  .headerbutton--big {
    margin-left: 3rem;
  }
  .logo {
    margin-left: 1.3rem;
  }
  .wrapper {
    max-width: 55rem;
  }
  .carousel img {
    grid-template-columns: 1fr;
    width: 76rem;
    height: 30rem;
  }
  .grid--3-cols {
    display: grid;
    grid-template-columns: 1fr;
  }
  .ekothebeat {
    width: 50rem;
    height: 70rem;
  }
  .taking-it-home-img,
  .coming-soon-img {
    height: 40rem;
  }
  .eko-tags {
    margin-left: 1rem;
    margin-top: 1rem;
  }
  .tag--eko {
    margin-right: 7rem;
    margin-left: 2rem;
    font-size: 2rem;
  }
  .album-title {
    margin-left: 11rem;
    font-size: 2rem;
    margin-top: 2rem;
  }
  .album-titlez {
    margin-left: 10rem;
    font-size: 2rem;
    margin-top: 2rem;
  }
  .buttonhomes--big,
  .buttonz--big {
    font-size: 2.5rem;
  }

  .list-item {
    font-size: 1.8rem;
  }

  .display--grid {
    margin-left: -14rem;
  }
  .form-paragraph {
    font-size: 1.6rem;
  }
  .subscribe {
    font-size: 1.5rem;
  }
  .heading---tertiaries {
    font-size: 2rem;
  }
  .list-item {
    font-size: 2rem;
  }
}

/* BELOW 580px(for smaller desktop screen size */

/* RESPONSIVE SECTION */
@media (max-width: 37em) {
  .eko-hot {
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
  .logo {
    margin-left: 1.3rem;
  }
  .wrapper {
    max-width: 50rem;
  }
  .carousel img {
    grid-template-columns: 1fr;
    width: 40rem;
    height: 29rem;
  }
  .grid--3-cols {
    display: grid;
    grid-template-columns: 1fr;
  }
  .displays-grids {
    display: grid;
    grid-template-columns: 1fr;
  }
  .ekos-play {
    height: 30rem;
  }
  .ekothebeat,
  .play-list {
    width: 50rem;
  }
  .taking-it-home-img,
  .coming-soon-img {
    height: 40rem;
  }
  .tag--eko {
    margin-right: 7rem;
    margin-left: 2rem;
    font-size: 2rem;
  }

  .album-title {
    margin-left: 13rem;
    font-size: 2rem;
    margin-top: 2rem;
  }
  .album-titlez {
    margin-left: 12rem;
    font-size: 2rem;
    margin-top: 2rem;
  }
  .buttonhomes:link,
  .buttonhomes:visited,
  .buttonz:link,
  .buttonz:visited {
    width: 25rem;
    margin-left: 8rem;
    font-size: 1.6rem;
  }

  .buttonhomes--big,
  .buttonz--big {
    font-size: 2.5rem;
  }

  .list-item {
    font-size: 1.8rem;
  }

  .display--grid {
    margin-left: -16rem;
  }
  .form {
    grid-template-columns: repeat(1, 1fr);
  }
  .form-paragraph {
    height: 24rem;
    font-size: 2rem;
    margin-top: 18rem;
  }
  .subscribe {
    font-size: 1.5rem;
  }
  .heading---tertiaries {
    font-size: 2rem;
  }
  .list-item {
    font-size: 2rem;
  }
}
/* BELOW 560px(for smaller desktop screen size */

/* RESPONSIVE SECTION */
@media (max-width: 35em) {
  .headerbutton--big {
    /* margin-left: 3rem; */
  }
  .logo {
    margin-left: 1.3rem;
  }
  .wrapper {
    max-width: 48rem;
  }

  .display--grid {
    margin-left: -18rem;
  }
  .ekothebeat,
  .play-list {
    width: 50rem;
  }
  .taking-it-home-img,
  .coming-soon-img {
    height: 40rem;
  }
  .tag--eko {
    margin-right: 7rem;
    margin-left: 2rem;
    font-size: 2rem;
  }
  .album-title {
    margin-left: 14rem;
    font-size: 2rem;
    margin-top: 2rem;
  }
  .album-titlez {
    margin-left: 14rem;
    font-size: 2rem;
    margin-top: 2rem;
  }
  .buttonhomes--big,
  .buttonz--big {
    font-size: 2.5rem;
  }

  .list-item {
    font-size: 1.8rem;
  }
  .form-paragraph {
    font-size: 1.6rem;
  }
  .subscribe {
    font-size: 1.5rem;
  }
  .heading---tertiaries {
    font-size: 2rem;
  }
  .list-item {
    font-size: 2rem;
  }
}
/* BELOW 541px(for smaller desktop screen size */

/* RESPONSIVE SECTION */
@media (max-width: 34em) {
  .header-up h2 {
    line-height: 1.2;
    text-align: center;
  }
  .eko-hot {
    padding-top: 2rem;
    font-size: 1.5rem;
  }
  .btn2 {
    top: 4rem;
  }
  .carousel img {
    grid-template-columns: 1fr;
    width: 45rem;
    height: 30rem;
  }
  .ekothebeat,
  .play-list {
    width: 50rem;
    height: 70rem;
  }
  .headerbutton--big {
    margin-left: 1rem;
  }
  .list {
    height: 65rem;
    gap: 3.5rem;
  }
  .ekos-play {
    height: 20rem;
  }
  .wrapper {
    max-width: 45rem;
  }
  .eko-tags {
    margin-left: -1rem;
    margin-top: 1rem;
  }
  .album-title {
    margin-left: 9rem;
    font-size: 3rem;
    margin-top: 2rem;
  }
  .album-titlez {
    margin-left: 6rem;
    font-size: 3rem;
    margin-top: 2rem;
  }
  .tag--eko {
    margin-right: 5rem;
    margin-left: 2rem;
    font-size: 2.5rem;
  }
  .subheading,
  .heading-secondary {
    margin-left: 3rem;
  }
  .taking-it-home-img,
  .coming-soon-img {
    width: 47rem;
    margin-left: 1rem;
  }
  .heading---tertiaries {
    margin-left: 2rem;
  }
  .form {
    grid-template-columns: repeat(1, 1fr);
  }
  .subscribe {
    width: 49rem;
    font-size: 1.5rem;
  }
  .volume-control::before {
    content: "\1F50A";
    font-size: 3rem;
    margin-right: 15px;
    color: #fff;
  }
  .form-paragraph {
    height: 29rem;
    font-size: 2.2rem;
  }
  .preview-text {
    position: absolute;
    bottom: 0.5rem;
    left: 36%;
    font-size: 1rem;
  }
}
/* BELOW 528px(for smaller desktop screen size */

/* RESPONSIVE SECTION */
@media (max-width: 33em) {
  .head-nav {
    /* background-color: red; */
  }
  .ekos-play {
    height: 20rem;
  }
  .carousel img {
    grid-template-columns: 1fr;
    width: 43rem;
    height: 30rem;
  }
  .wrapper {
    /* width: 100rem; */
  }
  .photo---play {
    margin-left: 25rem;
    width: 40rem;
  }
  .ekothebeat,
  .play-list {
    width: 40rem;
    height: 45rem;
  }
  .list {
    width: 40rem;
    height: 65rem;
    gap: 3.5rem;
  }
  .tag--eko {
    margin-right: 1rem;
    margin-left: 2rem;
    font-size: 1.7rem;
  }
  .subheading,
  .heading-secondary {
    margin-left: 1.7rem;
  }
  .album-title {
    margin-left: 2rem;
    margin-top: 2rem;
  }

  .album-titlez {
    margin-left: 1rem;
    margin-top: 2rem;
  }
  .buttonhomes--big,
  .buttonz--big {
    font-size: 1.5rem;
  }
  .buttonhomes:link,
  .buttonhomes:visited,
  .buttonz:link,
  .buttonz:visited {
    width: 20rem;
    margin-left: 4rem;
  }
  .eko-tags {
    margin-left: 1.2rem;
    margin-top: 1rem;
  }
  .album-title {
    margin-left: 5rem;
    margin-top: 2rem;
  }
  .list {
    width: 40rem;
    height: 42rem;
    gap: 1rem;
  }
  .taking-it-home-img,
  .coming-soon-img {
    width: 40rem;
    height: 20rem;
    margin-left: 3rem;
  }
  .photo----play {
    margin-left: 24rem;
    width: 40rem;
  }
  .volume-control::before {
    font-size: 3rem;
  }
  .texts,
  .text {
    margin-left: 21.5rem;
  }
  .free-mixtapes,
  .free-mixtapes1 {
    font-size: 1.8rem;
    padding-top: 0.4rem;
  }

  .heading---tertiaries {
    margin-left: 2rem;
  }
  .subscribe {
    width: 46rem;
    font-size: 1.5rem;
  }
  .form-paragraph {
    height: 20rem;
    font-size: 1.7rem;
  }
  .preview-text {
    position: absolute;
    bottom: 0.5rem;
    left: 36%;
    font-size: 1rem;
  }
}

/* RESPONSIVE SECTION */
@media (max-width: 32em) {
  .head-nav {
    /* background-color: #112477; */
  }
  .logo {
    margin-left: 1.3rem;
  }
  .wrapper {
    max-width: 48rem;
  }
  .carousel img {
    grid-template-columns: 1fr;
    width: 44rem;
    height: 30rem;
  }
  .photo---play {
    width: 40rem;
    height: 25rem;
    margin-left: 24rem;
  }
  .text {
    width: 45rem;
    height: 30rem;
    margin-left: 22rem;
  }
  .photo----play {
    width: 40rem;
    height: 25rem;
    margin-left: 24rem;
  }
  .texts {
    margin-left: 22rem;
  }
  .display--grid {
    margin-left: -19rem;
  }
  .subscribe {
    font-size: 1.2rem;
  }
  .form-paragraph {
    font-size: 1.4rem;
  }
  /* .form-group {
    margin-bottom: 1rem;
  }
  form.form-section {
    margin-top: 5rem;
    padding: 0rem;
  } */
}

/* BELOW 478px(for smaller desktop screen size */

/* RESPONSIVE SECTION */
@media (max-width: 31em) {
  .head-nav {
    /* background-color: red; */
  }
  .wrapper {
    max-width: 42rem;
  }
  .ekos-play {
    height: 18rem;
    width: 20.7rem;
  }
  .text {
    width: 44rem;
    height: 31rem;
    margin-left: 21.2rem;
  }
  .subheading,
  .heading-secondary {
    margin-left: 1.2rem;
  }
  .taking-it-home-img,
  .coming-soon-img {
    margin-left: 1rem;
  }
  .tag--eko {
    margin-left: 1rem;
  }
  .album-title,
  .album-titlez {
    margin-left: 7rem;
  }
  .buttonhomes:link,
  .buttonhomes:visited,
  .buttonz:link,
  .buttonz:visited {
    width: 20rem;
    margin-left: 5rem;
  }
  .free-mixtapes1 {
    font-size: 1.7rem;
    padding-top: 0.4rem;
  }
  .texts {
    margin-left: 23rem;
    width: 40rem;
    height: 34rem;
    padding-left: 2rem;
  }
  .form-group {
    margin-bottom: 1rem;
  }
  .form-text {
    box-shadow: none;
    margin-top: -23.4rem;
  }
  .form-paragraph {
    font-size: 1.4rem;
  }
}
/* BELOW 478px(for smaller desktop screen size */

/* RESPONSIVE SECTION */
@media (max-width: 30em) {
  .wrapper {
    max-width: 40rem;
  }
  .photo---play {
    margin-left: 23rem;
  }
  .ekos-play {
    height: 30rem;
    width: 41rem;
  }
  .taking-it-home-img,
  .coming-soon-img {
    width: 35rem;
    margin-left: 1rem;
  }
  .eko-tags {
    margin-left: 1rem;
    margin-top: 1rem;
  }
  .album-title {
    margin-left: 3rem;
  }
  .album-titlez {
    margin-left: 2rem;
  }
  .buttonhomes:link,
  .buttonhomes:visited,
  .buttonz:link,
  .buttonz:visited {
    width: 20rem;
    margin-left: 4rem;
  }
  .text {
    width: 40rem;
    height: 35rem;
    margin-left: 22rem;
  }
  .texts {
    width: 40rem;
    height: 40rem;
    margin-left: 23rem;
  }
  .buttoneko:link,
  .buttoneko:visited {
    width: 20rem;
    font-size: 1.5rem;
    margin-top: -1rem;
  }
  .form {
    margin-bottom: 7rem;
  }
  .subscribe {
    width: 42rem;
    font-size: 1.2rem;
  }
  .form-paragraph {
    margin-top: 23rem;
    font-size: 1.7rem;
    height: 20rem;
  }
}

/* RESPONSIVE SECTION */
@media (max-width: 29em) {
  .eko-hot {
    padding-top: 2rem;
    font-size: 1.5rem;
    padding-right: 3rem;
  }
  .btn2 {
    top: 1rem;
    right: 1rem;
  }
  .photo---play {
    margin-left: 21.5rem;
  }
  .text {
    width: 40rem;
    height: 35rem;
    margin-left: 21.5rem;
  }
  .ekos-play {
    height: 30rem;
    width: 39rem;
  }
  .photo----play {
    height: 25rem;
    margin-left: 21.5rem;
  }
  .texts {
    width: 40rem;
    height: 40rem;
    margin-left: 21.5rem;
  }
  .subscribe {
    width: 41rem;
    font-size: 1.2rem;
  }
}
/* RESPONSIVE SECTION */
@media (max-width: 28em) {
  .btn2 {
    top: 4rem;
    right: 1rem;
  }
  .wrapper {
    max-width: 37rem;
  }
  .photo---play {
    width: 35rem;
    margin-left: 23rem;
  }
  .text {
    width: 37rem;
    height: 36rem;
    margin-left: 22rem;
  }
  .h2 {
    padding-left: -1rem;
    padding-top: 1rem;
  }
  .ekos-play {
    height: 30rem;
    width: 37rem;
  }
  .ekothebeat,
  .play-list {
    width: 38rem;
    height: 45rem;
  }
  .taking-it-home-img,
  .coming-soon-img {
    width: 35rem;
    height: 20rem;
    margin-left: 3rem;
  }
  .list {
    width: 38rem;
    height: 42rem;
    gap: 1rem;
  }
  .subheading,
  .heading-secondary {
    margin-left: 2rem;
  }
  .photo----play {
    width: 35rem;
    height: 25rem;
    margin-left: 23rem;
  }
  .texts {
    width: 38rem;
    height: 42rem;
    margin-left: 21.5rem;
  }
  .free-mixtapes1 {
    font-size: 1.6rem;
    padding-top: 0.4rem;
  }

  .subscribe {
    width: 37rem;
    font-size: 1.2rem;
    margin-left: 1rem;
  }
  .taking-it-home-img,
  .coming-soon-img {
    width: 32rem;
    height: 20rem;
    margin-left: 3rem;
  }

  .form-paragraph {
    height: 22rem;
    font-size: 1.7rem;
  }
  .preview-text {
    position: absolute;
    bottom: 0.5rem;
    left: 42%;
    font-size: 1rem;
  }
}

/* BELOW 408px(for phone screen size */

/* RESPONSIVE SECTION */
@media (max-width: 26em) {
  .header-up h2 {
    line-height: 1.2;
    text-align: center;
  }
  .eko-hot {
    padding-top: 2rem;
    font-size: 1.5rem;
  }
  .btn2 {
    top: 5rem;
    right: 1rem;
  }
  .logo {
    margin-left: -1rem;
    height: 4rem;
    width: 6rem;
  }
  .nav-bar {
    font-size: 1.8rem;
  }
  .carousel img {
    grid-template-columns: 1fr;
    width: 35rem;
    height: 30rem;
  }
  .photo---play {
    margin-left: 22rem;
    width: 35rem;
  }
  .text {
    width: 35rem;
    height: 41.5rem;
    margin-left: 22rem;
  }
  .btnhome--big {
    font-size: 1.5rem;
    margin-top: -4rem;
  }
  .ekos-play {
    height: 25rem;
    width: 30rem;
  }
  .taking-it-home-img,
  .coming-soon-img {
    width: 32rem;
    height: 17rem;
    margin-left: 3rem;
  }
  .album-title {
    margin-left: 5rem;
    font-size: 2.5rem;
  }

  .album-titlez {
    margin-left: 4rem;
    font-size: 2.5rem;
  }
  .subheading {
    margin-left: 4rem;
    font-size: 2.5rem;
  }
  .heading-secondary {
    margin-left: 4rem;
    font-size: 2.3rem;
  }
  .ekothebeat,
  .play-list {
    width: 35rem;
    margin-right: 5rem;
    height: 45rem;
  }
  .list {
    width: 35rem;
    margin-left: 3rem;
    height: 43rem;
    gap: 1rem;
  }
  .heading---tertiaries {
    margin-left: 5rem;
    font-size: 1.6rem;
  }
  .tag--eko {
    margin-left: 2rem;
  }
  .free-mixtapes1 {
    font-size: 1.5rem;
  }
  .photo----play {
    width: 36rem;
    height: 25rem;
    margin-left: 21.5rem;
  }
  .texts {
    width: 36rem;
    height: 48.5rem;
    margin-left: 21.5rem;
  }
  .buttoneko:link,
  .buttoneko:visited {
    width: 20rem;
  }
  .container-paragraph {
    font-size: 1.6rem;
    margin-top: -1rem;
  }
  .form-paragraph {
    font-size: 2rem;
    margin-top: 23rem;
    height: 31.2rem;
  }
  .subscribe {
    font-size: 1.1rem;
    width: 36rem;
  }
  form.form-section {
    width: 38rem;
    box-shadow: 0 5rem 7rem rgba(0, 0, 0, 0.06);
    padding: 1rem;
  }
  .preview-text {
    position: absolute;
    bottom: 0.5rem;
    left: 43%;
    font-size: 1rem;
  }
}

/* BELOW 390px(for phone screen size */

/* RESPONSIVE SECTION */
@media (max-width: 25em) {
  .header-up h2 {
    line-height: 1.2;
    text-align: center;
  }
  .eko-hot {
    padding-right: 1rem;
    padding-top: 2rem;
    font-size: 1.5rem;
  }
  .btn2 {
    top: 5rem;
    right: 1rem;
  }
  .wrapper {
    max-width: 30rem;
  }
  .carousel img {
    grid-template-columns: 1fr;
    width: 35rem;
    height: 30rem;
  }
  .ekos-play {
    height: 25rem;
    width: 33rem;
  }
  .subheading,
  .heading-secondary {
    margin-left: 4rem;
    font-size: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .ekothebeat,
  .play-list {
    width: 30rem;
    margin-right: 5rem;
    margin-left: 3rem;
  }
  .taking-it-home-img,
  .coming-soon-img {
    width: 29rem;
    height: 17rem;
    margin-left: 3rem;
  }
  .tag--eko {
    margin-left: 2rem;
  }
  .eko-tags {
    margin-left: 1.5rem;
    margin-top: 1rem;
    margin-left: -2rem;
  }
  .album-title,
  .album-titlez {
    margin-left: 2rem;
  }
  .list {
    margin-left: 3rem;
    height: 43rem;
    gap: 1rem;
    width: 30rem;
  }
  .buttonhomes:link,
  .buttonhomes:visited,
  .buttonz:link,
  .buttonz:visited {
    width: 20rem;
    margin-left: 3rem;
  }
  .free-mixtapes1 {
    font-size: 1.3rem;
  }
  .photo---play {
    margin-left: 22rem;
    width: 35rem;
    margin-left: 21rem;
  }
  .text {
    width: 35rem;
    height: 42rem;
    margin-left: 21rem;
  }
  .photo----play {
    width: 36rem;
    height: 25rem;
    margin-left: 20.5rem;
  }
  .texts {
    width: 36rem;
    height: 49rem;
    margin-left: 20.5rem;
  }
  form.form-section,
  .form-text {
    width: 35rem;
  }

  .subscribe {
    font-size: 1.5rem;
    width: 33rem;
  }
  .form-paragraph {
    font-size: 2rem;
    margin-top: 23rem;
    height: 34rem;
  }
  .footer-text {
    font-size: 1rem;
}
button {

  width: 70px;
 
}
#album-cover {
  width: 70px;
  
}
#waveform {
  width: 20rem;
}
}
/* BELOW 378px(for smaller desktop screen size */

/* RESPONSIVE SECTION */
@media (max-width: 24em) {
  .carousel img {
    width: 32rem;
    height: 25rem;
  }
  .wrapper {
    max-width: 32rem;
  }
  .photo---play {
    width: 30rem;
    margin-left: 22.5rem;
  }
  .text {
    width: 30rem;
    height: 49rem;
    margin-left: 23rem;
  }
  .displays-grids {
    grid-template-columns: 1fr;
    margin-left: 2.8rem;
  }
  .ekos-play {
    height: 20rem;
    width: 30rem;
    margin-left: 1.2rem;
  }
  .subheading {
    margin-left: 4rem;
    font-size: 2rem;
  }
  .heading-secondary {
    margin-left: 4rem;
    font-size: 1.5rem;
    padding-right: 2rem;
  }
  .taking-it-home-img,
  .coming-soon-img {
    width: 29rem;
    height: 17rem;
    margin-left: 2.5rem;
  }

  .album-title {
    margin-left: 3rem;
    margin-top: 2rem;
  }
  .album-titlez {
    margin-left: 1rem;
    margin-top: 2rem;
  }
  .ekothebeat,
  .play-list {
    width: 33rem;
    margin-right: 2rem;
  }
  .tag--eko {
    margin-right: -1rem;
  }
  .buttonhomes:link,
  .buttonhomes:visited {
    width: 15rem;
    margin-left: 3rem;
    font-size: 1.3rem;
  }
  .buttonz:link,
  .buttonz:visited {
    width: 15rem;
    margin-left: 3rem;
    font-size: 1.1rem;
  }

  .list {
    margin-left: 2rem;
    width: 30rem;
  }
  .heading---tertiaries {
    margin-left: 2rem;
    font-size: 1.6rem;
  }
  .free-mixtapes1 {
    font-size: 1.3rem;
  }
  .photo----play {
    width: 33rem;
  }
  .texts {
    width: 33rem;
    height: 54rem;
    margin-left: 21.5rem;
  }
  .buttoneko:link,
  .buttoneko:visited {
    font-size: 1.3rem;
    margin-top: -1rem;
    width: 16rem;
    margin-left: -1rem;
  }
  .subscribe {
    width: 32.5rem;
    font-size: 1rem;
  }
  form.form-section {
    width: 34rem;
  }
  .form-paragraph {
    font-size: 1.1rem;
  }
  .button-submit[type="submit"] {
    font-size: 1.7rem;
  }
  .form-paragraph {
    height: 15rem;
    font-size: 1.2rem;
  }
}

/* BELOW 362px(for smaller desktop screen size */

/* RESPONSIVE SECTION */
@media (max-width: 23em) {
  .eko-hot {
    padding-right: 1rem;
    padding-top: 2rem;
    font-size: 1.4rem;
  }
  .carousel img {
    width: 32rem;
    height: 25rem;
  }
  .photo---play {
    width: 29rem;
    height: 20rem;
    margin-left: 23rem;
  }
  .text {
    width: 30rem;
    height: 48.5rem;
    margin-left: 22rem;
  }
  .btnhome--big {
    font-size: 1rem;
    margin-top: -4rem;
    margin-left: -1rem;
  }
  .ekos-play {
    height: 19rem;
    width: 29rem;
  }
  .ekothebeat,
  .play-list {
    width: 30rem;
    margin-right: 2rem;
  }
  .subheading,
  .heading-secondary {
    padding-right: 2rem;
    margin-left: 3rem;
    font-size: 1.5rem;
  }
  .taking-it-home-img,
  .coming-soon-img {
    width: 27rem;
    height: 17rem;
    margin-left: 1.5rem;
  }
  .eko-content {
    margin-left: -2rem;
    padding: 3.2rem 4.8rem 4.8rem 4.8rem;
  }
  .eko-tags {
    margin-left: -1rem;
    margin-top: 1rem;
  }
  .list {
    margin-left: -2rem;
    width: 30rem;
  }
  .heading---tertiaries {
    margin-left: 1rem;
    font-size: 1.6rem;
  }
  .buttonhomes:link,
  .buttonhomes:visited {
    width: 15rem;
    margin-left: 4rem;
    font-size: 1.3rem;
  }
  .photo----play {
    width: 31rem;
  }
  .texts {
    width: 31rem;
    height: 55rem;
    margin-left: 21.5rem;
  }
  form.form-section,
  .form-text {
    width: 32rem;
  }
  .form-paragraph {
    height: 20rem;
    font-size: 1.5rem;
  }
  .subscribe {
    width: 30rem;
    font-size: 1rem;
  }
}

/* BELOW 349px(for smaller desktop screen size */

/* RESPONSIVE SECTION */
@media (max-width: 22em) {
  .head-nav {
    /* background-color: red; */
  }
  .carousel img {
    width: 30rem;
    height: 25rem;
  }
  .wrapper {
    max-width: 30rem;
  }
  .ekothebeat,
  .play-list {
    width: 30rem;
    margin-right: 5rem;
  }
  .subheading,
  .heading-secondary {
    margin-left: 3rem;
    font-size: 1.4rem;
    padding-right: 4rem;
  }
  .eko-content {
    margin-left: 0rem;
    padding: 3.2rem 4.8rem 4.8rem 4.8rem;
  }
  .taking-it-home-img,
  .coming-soon-img {
    width: 27rem;
    height: 17rem;
    margin-left: 2rem;
  }
  .album-title,
  .album-titlez {
    margin-left: 1rem;
    margin-top: 2rem;
  }
  .list {
    margin-left: -1rem;
    width: 30rem;
  }
  .eko-tags {
    margin-left: -4rem;
    margin-top: 1rem;
  }
  .tag--eko {
    margin-right: 1rem;
  }
  .free-mixtapes1 {
    font-size: 1.2rem;
  }
  .subscribe {
    width: 30rem;
    font-size: 1.5rem;
  }
  form.form-section {
    width: 32rem;
  }
  .form-paragraph {
    font-size: 1.5rem;
    margin-bottom: -3rem;
    height: 24rem;
  }
  .form-label {
    font-size: 1rem;
  }
  .ekos-play {
    height: 19rem;

    width: 28rem;
  }
  .text {
    height: 50rem;
  }
  .texts {
    width: 31rem;
    height: 55rem;
    margin-left: 20.6rem;
  }
  .subscribe {
    width: 30rem;
    font-size: 1rem;
  }
}

/* BELOW 336px(for smaller desktop screen size */
@media (max-width: 21em) {
  .head-nav {
    /* background-color: red; */
  }
  .carousel img {
    width: 30rem;
    height: 25rem;
  }
  .photo---play {
    width: 29rem;
    height: 20rem;
    margin-left: 21.5rem;
  }
  .text {
    width: 30rem;
    height: 49rem;
    margin-left: 21rem;
  }
  .ekos-play {
    height: 19rem;
    width: 28rem;
  }
  .album-title,
  .album-titlez {
    margin-left: 3rem;
    margin-top: 2rem;
  }
  .buttonz:link,
  .buttonz:visited {
    width: 15rem;
    margin-left: 3rem;
    font-size: 1.1rem;
  }
  .heading---tertiaries {
    margin-left: 4rem;
    font-size: 1.4rem;
  }
  .list {
    margin-left: 2rem;
    width: 28rem;
  }
  .photo----play {
    width: 29rem;
  }
  .texts {
    width: 29rem;
    height: 56rem;
    margin-left: 21.5rem;
  }
  .h2 {
    font-size: 1.7rem;
    margin-top: 1rem;
  }
  .subscribe {
    font-size: 0.8rem;
  }
  .form-paragraph {
    font-size: 0.9rem;
    margin-bottom: -3rem;
  }
  .form {
    margin-bottom: 3rem;
  }
  footer {
    height: 3rem;
  }
  #album-cover {
    width: 4rem;
    height: 3rem;
  }
  button {
    font-size: 1.5rem;
    width: 4rem;
    height: 3rem;
  }
}

/* BELOW 336px(for smaller desktop screen size */
@media (max-width: 20em) {
  .eko-hot {
    padding-top: 2rem;
    font-size: 1.3rem;
  }
  .wrapper {
    max-width: 25rem;
  }
  .carousel img {
    width: 30rem;
    height: 25rem;
  }
  .photo---play {
    width: 26rem;
  }
  .text {
    width: 27rem;
    height: 57rem;
    margin-left: 21rem;
  }
  .ekos-play {
    height: 19rem;
    width: 25rem;
  }
  .heading---tertiaries {
    margin-left: 4rem;
    font-size: 1.3rem;
  }
  .ekothebeat,
  .play-list {
    width: 28rem;
    margin-right: 2rem;
  }
  .subheading {
    margin-left: 4rem;
    font-size: 2rem;
  }
  .heading-secondary {
    padding-right: 3rem;
    margin-left: 4rem;
    font-size: 1.5rem;
  }
  .taking-it-home-img,
  .coming-soon-img {
    margin-left: 3.5rem;
    width: 24rem;
    height: 17rem;
  }
  .list {
    margin-left: 2rem;
    width: 25rem;
  }
  .list-item {
    font-size: 1.8rem;
  }
  .album-title {
    margin-left: 2rem;
    margin-top: 2rem;
    margin-right: -4rem;
  }
  .album-titlez {
    margin-left: 1rem;
    margin-top: 2rem;
    font-size: 2.1rem;
  }
  .free-mixtapes {
    font-size: 1.6rem;
  }
  .free-mixtapes1 {
    font-size: 1rem;
  }
  .frees-icons {
    height: 1rem;
    width: 1rem;
    padding-top: 1rem;
  }
  .free {
    height: 4rem;
  }
  .photo----play {
    width: 26rem;
    height: 20rem;
  }
  .text {
    width: 27rem;
    height: 58rem;
    margin-left: 21rem;
  }
  .texts {
    width: 26rem;
    height: 69rem;
    margin-left: 21.5rem;
  }
  form.form-section {
    width: 29rem;
  }
  .form {
    margin-left: -1rem;
    margin-bottom: 3rem;
  }
  .form-paragraph {
    height: 20rem;
    font-size: 1.2rem;
    margin-bottom: -3rem;
  }
  .button-submit[type="submit"] {
    font-size: 1.4rem;
  }
  .subscribe {
    width: 27rem;
    font-size: 1.5rem;
  }
}
/* BELOW 306px(for smaller desktop screen size */
@media (max-width: 19em) {
  .head-nav {
    /* background-color: red; */
  }
  .wrapper {
    max-width: 25rem;
  }
  .ekothebeat,
  .play-list {
    width: 26rem;
    margin-right: 2rem;
  }
  .taking-it-home-img,
  .coming-soon-img {
    width: 20rem;
    height: 15rem;
  }
  .eko-tags {
    margin-left: -3rem;
    margin-top: 1rem;
  }
  .album-title {
    margin-left: 2rem;
    margin-top: 2rem;
  }
  .album-titlez {
    margin-left: 1rem;
    margin-top: 2rem;
  }
  .buttonhomes:link,
  .buttonhomes:visited,
  .buttonz:link,
  .buttonz:visited {
    margin-left: 1rem;
  }
}

/* BELOW 280px(for smaller desktop screen size */
@media (max-width: 18em) {
  .eko-hot {
    padding-top: 2rem;
    font-size: 1rem;
  }
  .headerbutton--big {
    width: 10rem;

    margin-left: 1rem;
    font-size: 1rem;
  }
  .btn2 {
    top: 4rem;
    right: 2rem;
  }
  .logo {
    margin-left: -1rem;
    height: 4rem;
    width: 6rem;
  }
  .nav-bar {
    font-size: 1.5rem;
  }
  .wrapper {
    max-width: 24rem;
  }
  .carousel img {
    width: 25rem;
    height: 20rem;
  }
  .photo---play {
    width: 23rem;
  }
  .text {
    width: 24rem;
    height: 63rem;
    margin-left: 21rem;
  }
  .ekos-play {
    height: 17rem;
    width: 21rem;
  }
  .subheading {
    margin-left: 3rem;
    font-size: 2rem;
  }
  .heading-secondary {
    margin-left: 3rem;
    font-size: 1.2rem;
  }
  .taking-it-home-img,
  .coming-soon-img {
    width: 19rem;
    height: 15rem;
    margin-left: 2rem;
  }
  .eko-content {
    height: 40rem;
    margin-left: 0rem;
    padding: 3.2rem 4.8rem 4.8rem 4.8rem;
  }

  .album-title,
  .album-titlez {
    margin-left: 1rem;
    margin-top: 2rem;
    font-size: 1.7rem;
  }

  .eko-tags {
    margin-left: -5rem;
    margin-top: 1rem;
  }
  .tag--eko {
    margin-right: -1rem;
    font-size: 1.5rem;
  }
  .buttonhomes:link,
  .buttonhomes:visited,
  .buttonz:link,
  .buttonz:visited {
    margin-left: -1rem;
  }
  .heading---tertiaries {
    margin-left: 3rem;
    font-size: 1.1rem;
  }
  .ekothebeat {
    width: 23rem;
    margin-right: -1rem;
  }
  .list {
    gap: 1rem;
    margin-left: -1rem;
    width: 23rem;
    height: 42rem;
  }
  .list-item {
    font-size: 1.5rem;
  }
  .form-section {
    width: 26rem;
  }
  .subscribe {
    width: 25rem;
  }
  form.form-section {
    width: 27rem;
  }
  
  .form-paragraph {
    height: 29rem;
    font-size: 1.4rem;
    margin-bottom: -3rem;
    /* margin-left: -1rem; */
  }
  .form-text {
    margin-left: 0.5rem;
    width: 26rem;
}
  .form {
    margin-left: -1.5rem;
    margin-bottom: 3rem;
}
  .free-mixtapes1 {
    font-size: 0.9rem;
  }
  .photo----play {
    width: 23rem;
    height: 20rem;
  }
  .texts {
    width: 23rem;
    height: 79rem;
    margin-left: 21.5rem;
  }
  .footer-text {
    font-size: 0.6rem;
  }
 
  #waveform {
    width: 10rem;
    height: 1px;
    left: 0px;
    margin-bottom: 3rem;
  
}
.volume-control {
  margin-left: -1rem;
}
.volume-control input[type="range"] {
  width: 40%;
  margin: 5px;
  margin-left: -3rem;

}
  }
}
